<html>
<head>
    <title>文档</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="<?=$static?>/css/api.css">
    <link rel="stylesheet" href="//cdn.staticfile.org/highlight.js/10.0.3/styles/monokai-sublime.min.css">
</head>

<body>

<div class="container target-menu">
    <div class="min-menu"><img src="<?=$static?>/img/menu.gif"></div>
    <div class="menu">
        <div class="lsm-container">
            <div class="lsm-scroll">
                <div class="lsm-sidebar">
                    <? foreach($data as $k => $v){ ?>
                    <ul class="app-menu-list" id="app-target-{$k}">
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;"><span><img src="<?=$static?>/img/folder.png"><?=$v['title']?></span><i class="symbol sidebar-more"></i></a>
                            <ul>
                                <? foreach($v['api'] as $vv){ ?>
                                <li><a class="frame-info" data-frame="#wiki-<?=$v['title']?>-<?=$vv['title']?>" href="javascript:;"><span><img src="<?=$static?>/img/file.png"><?=$vv['title']?></span></a></li>
                                <? } ?>
                            </ul>
                        </li>
                        <li class="lsm-sidebar-item">
                            <a href="javascript:;"><span><img src="<?=$static?>/img/folder.png">公共</span><i class="symbol sidebar-more"></i></a>
                            <ul>
                                <li><a class="frame-info" data-frame="#wiki-公共-Mock" href="javascript:;">
                                    <span><img src="<?=$static?>/img/file.png">Mock</span>
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                    <? } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="frame">

        <? foreach($data as $v){ ?>
        <? foreach($v['api'] as $vv){ ?>
        <div id="wiki-<?=$v['title']?>-<?=$vv['title']?>" class="hide frame-list">
            <div class="title"><?=$vv['title']?></div>

            <div class="label-title">描述：</div>
            <div class="info"><?=$vv['description']?></div>

            <div class="label-title">URL：</div>
            <div class="info"><button class="btn btn-min"><?=$vv['method']?></button> /<?=$vv['rule']?></div>

            <div class="label-title">请求参数：</div>
            <div class="info">
                <div class="table-box">
                    <table class="table" cellspacing="0">
                        <? include 'thead.html' ?>
                        <tbody>
                        <? foreach($vv['mock']['request'] as $f){ ?>
                        <tr>
                            <td><?=$f["field"]?></td>
                            <td><?=$f["title"]?></td>
                            <td><?=$f["type"]?></td>
                            <td><?=$f['require'] ? "√" : ""?></td>
                            <td><?=$f["example"]?></td>
                            <td><?=$f["description"]?></td>
                        </tr>
                        <? } ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <? if($vv['mock']['request_ext'] ?? false) { ?>
            <? foreach($vv['mock']['request_ext'] as $ext_key => $ext_val){ ?>

            <div class="label-title">请求参数[<?=$ext_key?>]：</div>
            <div class="info">
                <div class="table-box">
                    <table class="table" cellspacing="0">
                        <? include 'thead.html' ?>
                        <tbody>
                        <? foreach($ext_val as $ext){ ?>
                        <tr>
                            <td><?=$ext["field"]?></td>
                            <td><?=$ext["title"]?></td>
                            <td><?=$ext["type"]?></td>
                            <td><?=$ext['require'] ? "√" : ""?></td>
                            <td><?=$ext["example"]?></td>
                            <td><?=$ext["description"]?></td>
                        </tr>
                        <? } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <? } ?>
            <? } ?>

            <div class="label-title">返回参数:</div>
            <div class="info">
                <div class="table-box">
                    <table class="table">
                        <? include 'thead.html' ?>
                        <tbody>
                        <? foreach($vv['mock']['response'] as $f){ ?>
                        <tr>
                            <td><?=$f["field"]?></td>
                            <td><?=$f["title"]?></td>
                            <td><?=$f["type"]?></td>
                            <td><?=$f['require'] ? "√" : ""?></td>
                            <td><?=$f["example"]?></td>
                            <td><?=$f["description"]?></td>
                        </tr>
                        <? } ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <? if($vv['mock']['response_ext'] ?? false) { ?>
            <? foreach($vv['mock']['response_ext'] as $ext_key => $ext_val){ ?>

            <div class="label-title">返回参数[<?=$ext_key?>]：</div>
            <div class="info">
                <div class="table-box">
                    <table class="table" cellspacing="0">
                        <? include 'thead.html' ?>
                        <tbody>
                        <? foreach($ext_val as $ext){ ?>
                        <tr>
                            <td><?=$ext["field"]?></td>
                            <td><?=$ext["title"]?></td>
                            <td><?=$ext["type"]?></td>
                            <td><?=$ext['require'] ? "√" : ""?></td>
                            <td><?=$ext["example"]?></td>
                            <td><?=$ext["description"]?></td>
                        </tr>
                        <? } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <? } ?>
            <? } ?>
        </div>
        <? } ?>
        <? } ?>
        <div id="wiki-公共-Mock" class="hide frame-list">
            <? include 'mock.html' ?>
        </div>
    </div>

    <div class="fixed">
        <p class="go-top"><img src="<?=$static?>/img/top.png"></p>
    </div>

</div>

<script src="//cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="<?=$static?>/js/api.js"></script>
<script type="text/javascript" src="//cdn.staticfile.org/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>